db/*
data/*
odoo/log/*
!odoo/log/.log
odoo/start_odoo.sh
odoo/etc/odoo-server.conf
# Compiled formats, cache, temporary files, git garbage
**.~
**.mo
**.py[co]
**.egg-info
**.orig

# Editor garbage folders
.vscode
