[submodule "odoo/OCA/contract"]
	path = odoo/OCA/contract
	url = git@github.com:OCA/contract.git
	branch = 11.0

[submodule "odoo/OCA/l10n-spain"]
	path = odoo/OCA/l10n-spain
	url = git@github.com:OCA/l10n-spain.git
	branch = 11.0

[submodule "odoo/watchman"]
	path = odoo/watchman
	url = git@github.com:PESOL/watchman.git
	branch = 11.0

[submodule "odoo/OCA/partner-contact"]
	path = odoo/OCA/partner-contact
	url = git@github.com:OCA/partner-contact.git
	branch = 11.0

[submodule "odoo/OCA/account-financial-reporting"]
	path = odoo/OCA/account-financial-reporting
	url = git@github.com:OCA/account-financial-reporting.git
	branch = 11.0

[submodule "odoo/OCA/account-invoicing"]
	path = odoo/OCA/account-invoicing
	url = git@github.com:OCA/account-invoicing.git
	branch = 11.0

[submodule "odoo/OCA/account-financial-tools"]
	path = odoo/OCA/account-financial-tools
	url = git@github.com:OCA/account-financial-tools.git
	branch = 11.0

[submodule "odoo/OCA/reporting-engine"]
	path = odoo/OCA/reporting-engine
	url = git@github.com:OCA/reporting-engine.git
	branch = 11.0

[submodule "odoo/OCA/bank-payment"]
	path = odoo/OCA/bank-payment
	url = git@github.com:OCA/bank-payment.git
	branch = 11.0

[submodule "odoo/OCA/mis-builder"]
	path = odoo/OCA/mis-builder
	url = git@github.com:OCA/mis-builder.git
	branch = 11.0

[submodule "odoo/OCA/account-payment"]
	path = odoo/OCA/account-payment
	url = git@github.com:OCA/account-payment.git
	branch = 11.0

[submodule "odoo/OCA/community-data-files"]
	path = odoo/OCA/community-data-files
	url = git@github.com:OCA/community-data-files.git
	branch = 11.0

[submodule "odoo/OCA/server-ux"]
	path = odoo/OCA/server-ux
	url = git@github.com:OCA/server-ux.git
	branch = 11.0

[submodule "odoo/OCA/account-closing"]
	path = odoo/OCA/account-closing
	url = git@github.com:OCA/account-closing.git
	branch = 11.0

[submodule "odoo/OCA/community-data-files"]
	path = odoo/OCA/community-data-files
	url = git@github.com:OCA/community-data-files.git
	branch = 11.0

[submodule "odoo/OCA/mis-builder"]
	path = odoo/OCA/mis-builder
	url = git@github.com:OCA/mis-builder.git
	branch = 11.0

[submodule "odoo/OCA/account-payment"]
	path = odoo/OCA/account-payment
	url = git@github.com:OCA/account-payment.git
	branch = 11.0

[submodule "odoo/OCA/web"]
	path = odoo/OCA/web
	url = git@github.com:OCA/web.git
	branch = 11.0

[submodule "odoo/OCA/project"]
	path = odoo/OCA/project
	url = git@github.com:OCA/project.git
	branch = 11.0

[submodule "odoo/OCA/queue"]
	path = odoo/OCA/queue
	url = git@github.com:OCA/queue.git
	branch = 11.0

[submodule "odoo/OCA/connector"]
	path = odoo/OCA/connector
	url = git@github.com:OCA/connector.git
	branch = 11.0
